body {
  margin: 0px;
  padding: 0px;
  background: #000;
}
#gcv_vid_container {
  position: fixed;
  top: 0;
  left: 0;
}
#gcv_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
#gcv_gui_controls {
  position: fixed;
  //background-color: #111;
  z-index: 2;
  bottom: 0;
}
#gcv_gui_controls.disabled #gcv_takePhotoButton{
  pointer-events: none;
  touch-action: none;
  opacity: 0.1;
}
#gcv_video_overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgb(255, 255, 255);
}
#gcv_message-cam {
    display:none;
    position: absolute;
    width: 50%;
    height: 6%;
    bottom: 120px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
#gcv_message-cam.active{
  display:block;
}

#gcv_gui_controls button {
  outline: none;
  position: absolute;
  color: white;
  display: block;
  opacity: 1;
  background: transparent;
  border: solid 5px #fff;
  padding: 0;
  text-shadow: 0px 0px 4px black;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: auto;
  z-index: 2;
}
#gcv_gui_controls #gcv_takePhotoButton {
    border-radius: 50%;
    padding: 5px;
}
#gcv_gui_controls #gcv_takePhotoButton:active {
  background-color: #fff;
}
#gcv_gui_controls #gcv_takePhotoButton .shop-cart{
    background-image: url(img/shopping-cart.png);
    background-repeat:no-repeat;
    background-position:center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    background-size: 45px 45px;  
    width: 80px;
    height: 80px;
    display: block;
}
#gcv_gui_controls #gcv_switchCameraButton{
  display: none;
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
}
#gcv_gui_controls #gcv_switchCameraButton .switch-cam{
  -webkit-mask:url('img/ic_camera_rear_white_36px.svg') no-repeat 50% 50%;
  mask:url('img/ic_camera_rear_white_36px.svg') no-repeat 50% 50%;  
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}
#gcv_gui_controls #gcv_switchCameraButton[aria-pressed='true'] .switch-cam{
  -webkit-mask:url('img/ic_camera_rear_white_36px.svg') no-repeat 50% 50%;
  mask:url('img/ic_camera_rear_white_36px.svg') no-repeat 50% 50%;
}
/*FULLSCREEN INAVILITADO*/
#toggleFullScreenButton {
  display: none;
  width: 64px;
  height: 64px;
  background-image: url('img/ic_fullscreen_white_48px.svg');
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}
#toggleFullScreenButton[aria-pressed='true'] {
  background-image: url('img/ic_fullscreen_exit_white_48px.svg');
}

@media screen and (orientation: portrait) {
  #gcv_vid_container {
    width: 100%;
    height: 100%;
    touch-action: none;
  }
  #gcv_gui_controls {
    width: 100%;
    height: 20%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #gcv_switchCameraButton {
    left: calc(17% - 32px);
    top: calc(47% - 32px);
  }
  #gcv_toggleFullScreenButton {
    left: calc(80% - 32px);
    top: calc(50% - 32px);
  }
}
@media screen and (orientation: landscape) {
  #gcv_vid_container {
    width: 80%;
    height: 100%;
  }
  #gcv_vid_container.left {
    left: 20%;
  }
  #gcv_gui_controls {
    width: 20%;
    height: 100%;
    right: 0;
  }
  #gcv_gui_controls.left {
    left: 0;
  }
  #gcv_switchCameraButton {
    left: calc(50% - 32px);
    top: calc(18% - 32px);
  }
  #gcv_toggleFullScreenButton {
    left: calc(50% - 32px);
    top: calc(82% - 32px);
  }
}


.gcv_content{
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
  z-index: 9;
  transition: all .3s linear;
  transform: translateY(200%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  touch-action: none;
}
.gcv_content.active{
  transform: translateY(100%);
}
.gcv_icons-top {
  display: inline-flex;
  width: 100%;
  z-index: 10;
  position: relative;
  padding-top: 5px;
}
.gcv_close-photo{
  left: 0;
  padding-left: 10px;
  display: none;
}
.gcv_close-photo.active{
  display:block;
}
.gcv_loading {
  z-index: 11;
  position: relative;
  width: 100%;
  height: 100%;
}
.gcv_loading.active{
  display: block;
}
.gcv_icon-load {
  background: url(/img/loading.gif) no-repeat center;
  background-size: contain;
  background-position: center;
  display: block;
  margin: auto;
  height: 35px;
  width: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#gcv_error {
  text-align: center;
}

.download {
  right: 0;
  padding-right: 10px;
  display: none;
}
.download.active{
  display: block;
}